.cell {
    border: 2px rgba(0, 0, 0, 0.123) solid;
    background-color: rgba(255, 255, 255, 1);
    width: 20px;
    height: 20px;
  }
  /* .cell:hover {
    background-color: aquamarine !important;
  } */
  main,html{
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin: 0px;

  }
  #main{
    display: flex;
   
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
 